<a href="https://colab.research.google.com/github/MateusJacob8/INTED_2025/blob/main/Lista_3-Mateusjacob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
7
3nums = []
for i in range(15):
  nums.append(int(input(f"Número {i + 1}: ")))

real_nums = []
for num in nums:
  if not num in real_nums: real_nums.append(num)

print(real_nums)

Número 1: 3
Número 2: 4
Número 3: 6
Número 4: 8
Número 5: 66
Número 6: 44
Número 7: 3
Número 8: 56
Número 9: 76
Número 10: 32
Número 11: 12
Número 12: 14
Número 13: 14
Número 14: 54
Número 15: 56
[3, 4, 6, 8, 66, 44, 56, 76, 32, 12, 14, 54]

In [3]:
names = []
ages = []

for i in range(2):
  names.append(input("Nome: "))
  ages.append(int(input("Idade: ")))
  print("------------------------")

age_index = ages.index(max(ages))
print("Pessoa mais velha: ", names[age_index])

Nome: mateus
Idade: 17
------------------------
Nome: luana
Idade: 19
------------------------
Pessoa mais velha:  luana

In [5]:
nums = [i for i in range(10)]
for num in nums:
  if num % 2 == 0: nums[nums.index(num)] = num / 2
  else: nums[nums.index(num)] = num / 3

print(nums)

[0.0, 0.3333333333333333, 1.0, 1.0, 2.0, 1.6666666666666667, 3.0, 2.3333333333333335, 4.0, 3.0]

In [6]:
words = input("Frase: ").split(" ")
letters = "aeiou"
text = ""

for word in words:
  if word.lower()[0] in letters: text = text + " " + word

print(text)

Frase: oi
 oi

In [7]:
75nums = []
primes = [2, 3, 5, 7, 9, 11, 13, 17, 19, 23, 29, 31]

for _ in range(10):
  nums.append(int(input("Número: ")))

non_primes = []
for num in nums:
  if not num in primes: non_primes.append(num)

print(non_primes)

Número: 30
Número: 32
Número: 3
Número: 4
Número: 5
Número: 6
Número: 8
Número: 9
Número: 0
Número: 7
[30, 32, 4, 6, 8, 0]

In [8]:
texts = []
for _ in range(2):
  texts.append(input("Texto: "))

palindromes = []
for text in texts:
  if text == text[::-1]:
    palindromes.append(text)

print(palindromes)

Texto: ola
Texto: bom dia
[]

In [15]:
import random

list1 = []
list2 = []
for _ in range(10):
  list1.append(random.randint(1, 100))
  list2.append(random.randint(1, 100))

print(list(set(list1) & set(list2)))

[43]

In [19]:
import random

nums = []
for _ in range(6):
  num = random.randint(1, 60)
  if not num in nums: nums.append(num)

print(nums)

[28, 45, 30, 13, 21, 15]

In [21]:
nums = []
for _ in range(10):
  nums.append(int(input("Número: ")))

sum_nums = []
current_sum = 0
for num in nums:
  current_sum += num
  sum_nums.append(current_sum)

print(sum_nums)

Número: 3
Número: 45
Número: 54
Número: 43
Número: 32
Número: 243
Número: 22
Número: 33
Número: 2
Número: 243
[3, 48, 102, 145, 177, 420, 442, 475, 477, 720]

In [34]:
names = ["Murillo", "Victhor Hugo", "jacob", "lorenzo"]
short_names = []

for name in names:
  if len(name) <= 10: short_names.append(name)

print(short_names)

['Murillo', 'jacob', 'lorenzo']

In [35]:
matrix = []

for l in range(4):
  print("-------------------")
  row = []
  for c in range(4):
    row.append(int(input("Número: ")))
  matrix.append(row)

total_sum = 0
for l in range(4):
  total_sum += matrix[l][3 - l]

print(total_sum)

-------------------
Número: 2920
Número: 3
Número: 23
Número: 45
-------------------
Número: 654
Número: 65
Número: 433
Número: 45
-------------------
Número: 34
Número: 45
Número: 35
Número: 323
-------------------
Número: 456
Número: 65
Número: 7765
Número: 545
979

In [ ]:
import random

matrix = []
for _ in range(5):
  print("-------------------")
  row = []
  for _ in range(5):
    row.append(random.randint(1, 99))
  matrix.append(row)

row_sums = []
for l in range(5):
  row_sum = 0
  for c in range(5):
    row_sum += matrix[l][c]
  row_sums.append(row_sum)

print(row_sums)

[188, 346, 300, 302, 299]

In [ ]:
matrix = []

for _ in range(3):
    print("-------------------")
    row = []
    for _ in range(3):
        row.append(int(input("Número: ")))
    matrix.append(row)

is_identity = True
for l in range(3):
    for c in range(3):
        if l == c and matrix[l][c] != 1:
            is_identity = False
        elif l != c and matrix[l][c] != 0:
            is_identity = False

print("É identidade" if is_identity else "Não é identidade")

-------------------
Número: 1
Número: 0
Número: 0
-------------------
Número: 0
Número: 1
Número: 0
-------------------
Número: 0
Número: 0
Número: 1

In [ ]:
matrix = []

for _ in range(3):
  print("-------------------")
  row = []
  for _ in range(3):
    row.append(int(input("Número: ")))
  matrix.append(row)

is_symetric = True
for l in range(3):
  for c in range(3):
    if not is_symetric: break
    if matrix[l][c] != matrix[c][l]: is_symetric = False
  if not is_symetric: break

print("É simétrica" if is_symetric else "Não simétrica")

-------------------
Número: -2
Número: 1
Número: 3
-------------------
Número: 1
Número: -3
Número: 2
-------------------
Número: 3
Número: 2
Número: 0
É simétrica

In [ ]:
matrix = []
for l in range(5):
  row = []
  for c in range(3):
    row.append((l + 1) * (c + 1))
  matrix.append(row)

print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15]]

In [ ]:
matrix = []

for _ in range(4):
  print("-------------------")
  row = []
  for _ in range(4):
    row.append(int(input("Número: ")))
  matrix.append(row)

max_values = []
for l in range(4):
  max_value: int
  for c in range(4):
    value = matrix[l][c]
    if c == 0: max_value = value
    elif value > max_value: max_value = value
  max_values.append(max_value)

print(max_values)

-------------------
Número: 1
Número: 2
Número: 3
Número: 4
-------------------
Número: 5
Número: 6
Número: 7
Número: 8
-------------------
Número: 8
Número: 9
Número: 7
Número: 6
-------------------
Número: 5
Número: 5
Número: 5
Número: 4
[4, 8, 9, 5]

In [ ]:
matrix = [[2, 4, 3],[1, 5, 7],[6, 8, 9]]

a, b, c = matrix[0]
d, e, f = matrix[1]
g, h, i = matrix[2]

det = a*(e*i - f*h) - b*(d*i - f*g) + c*(d*h - e*g)

print(det)

44

In [ ]:
matrix1 = []
matrix2 = []

for _ in range(3):
  print("-------------------")
  row = []
  for _ in range(3):
    row.append(int(input("Número: ")))
  matrix1.append(row)

for _ in range(3):
  print("-------------------")
  row = []
  for _ in range(3):
    row.append(int(input("Número: ")))
  matrix2.append(row)

matrix_sum = []
matrix_sub = []

for l in range(3):
  sum_row = []
  sub_row = []
  for c in range(3):
    num1 = matrix1[l][c]
    num2 = matrix2[l][c]

    matrix_sum.append(num1 + num2)
    matrix_sub.append(num1 - num2)
  matrix_sum.append(sum_row)
  matrix_sub.append(sub_row)

print(matrix_sum)
print("----------")
print(matrix_sub)

In [ ]:
c1 = set()
for _ in range(10):
  c1.add(int(input("Número: ")))

c2 = set()
for _ in range(10):
  c2.add(int(input("Número: ")))

intersection = c1.intersection(c2)
union = c1.union(c2)
difference = c1.difference(c2)

print(intersection)
print("--------------")
print(union)
print("--------------")
print(difference)

In [ ]:
text = input("Palavra: ")
letters = []

prohibition_letters = " .;,?"

for letter in text:
  if not letter in prohibition_letters: letters.append(letter)

print(letters)

Palavra: Olá mundo.
['O', 'l', 'á', 'm', 'u', 'n', 'd', 'o']

In [ ]:
nums = [i for i in range(1, 101)]
correct_nums = []

for num in nums:
  if not (num % 2 == 0 or num % 3 == 0): correct_nums.append(num)

print(correct_nums)

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]

In [ ]:
words = []
for _ in range(10):
  words.append(input("Palavra: "))

long_words = set()
for i in range(10):
  word = words[i]
  if len(word) > 5: long_words.add(word)

print(long_words)

In [ ]:
c1 = set([1, 2, 3, 4, 5, 6])
c2 = set([1, 2, 3])

print("É subconjunto" if c1.intersection(c2) == c2 else "Não é subconjunto")

É subconjunto

In [ ]:
import math

c = [1, 2, 3, 4, 5, 6, 7, 8, 9]
squares = []

for num in c:
  square = int(math.isqrt(num))
  if square * square == num: squares.append(num)

print(squares)

[1, 4, 9]

In [38]:
salaries = {
    "Lorenzo": 1200,
    "jacob": 1500,
    "Heitor": 2400,
    "Victhor": 7200,
    "Murillo": 1900,
}

for n, s in salaries.items():
  if s < 2000: salaries[n] = s * 1.1

print(salaries)

{'Lorenzo': 1320.0, 'jacob': 1650.0000000000002, 'Heitor': 2400, 'Victhor': 7200, 'Murillo': 2090.0}

In [ ]:
students = {
    "Jacob": [4, 5, 6],
    "murillo": [1, 10, 5],
    "lorenzo": [1, 4, 5],
}
medias = {}

for n, grades in students.items():
  grade_sum = 0
  for g in grades:
    grade_sum += g
  medias[n] = grade_sum / len(grades)

print(medias)

{'Samuel': 5.0, 'Israel': 5.333333333333333, 'Heitor': 3.3333333333333335}

In [41]:
words = {
    "feliz": ["alegre", "contente", "radiante", "satisfeito"],
    "triste": ["desolado", "abatido", "deprimido"],
    "rápido": ["veloz", "ligeiro", "ágil"],
}

word = input("Palavra: ")
print(f"Sinônimos {words[word]}" if words[word] else "Sinônimos não encontrados")

Palavra: triste
Sinônimos ['desolado', 'abatido', 'deprimido']

In [42]:
words = []
for _ in range(10):
  words.append(input("Palavra: "))

letter_dict = {}
for word in words:
  first = word[0].lower()
  if not first in letter_dict:
    letter_dict[first] = []
  letter_dict[first].append(word)

print(letter_dict)

Palavra: ola
Palavra: oi
Palavra: tchau
Palavra: ijndo
Palavra: lindo
Palavra: divo
Palavra: galo
Palavra: dudu
Palavra: maria
Palavra: hulk
{'o': ['ola', 'oi'], 't': ['tchau'], 'i': ['ijndo'], 'l': ['lindo'], 'd': ['divo', 'dudu'], 'g': ['galo'], 'm': ['maria'], 'h': ['hulk']}

In [52]:
products = {
    "Macarrão": [25.90, 28.50, 24.99],
    "Maçã": [8.90, 9.50, 7.99],
    "banana": [45.90, 42.50, 50.00]
}
max_variation = 0
max_variation_product = ""

for p, prices in products.items():
  variation = max(prices) - min(prices)
  if variation > max_variation:
    max_variation = variation
    max_variation_product = p

print(f"Produto: {max_variation_product}. Variação: R$ {max_variation}")

Produto: banana. Variação: R$ 7.5

In [54]:
phrase = input("Frase: ")
words = {}

for word in phrase.split(" "):
  word = word.lower()
  if not word in words:
    words[word] = 0
  words[word] += 1

print(words)

Frase: oi
{'oi': 1}